<!DOCTYPE html>
{% extends "layout.html" %}



{% block title %}
    Projects
{% endblock title %}

{% block content %}
    <section> 
        <h1>Projects</h1>
        {%for project in projects%}

        <article class="project">
            <h2>{{project.company}}         </h2>
            <h3>{{project.jobtitle}}
            <p>{{project.startdate}} - {{project.enddate}}<p> 
            <br />
            <p>{{project.description}}</p>
            <br />
            <p> skills:
                {%for skill in project.skills%}
                    <span class="skill">{{skill}} </span>
                {% endfor %}
            </p>
        
            
        </article>

        {% endfor %}
    </section>


    
{% endblock content %}